*.docx
*.json
*.tex
*.pdf
*.bib
*.jpg
*.html

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz
*.fdb_latexmk
cmd_pg.txt
out/

IGNORE*.py
TEMP_*

__pycache__/
aux_files/
export/
.vscode/
.idea/
