*.docx
*.json
*.tex
*.pdf
*.bib
*.jpg
*.html

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

out/

IGNORE*.py

__pycache__/
aux_files/
export/
.vscode/
.idea/
