*.docx
*.json
*.tex
*.pdf
*.bib
*.jpg

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

out/

split_long_equations.py
main.py
scratchfile.py
!helper_files/
!ms_word_eqn_filter.py